@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.2s ease;
}

.fade-leave {}

.fade-leave-active {
  transition: opacity 0.2s ease;
  opacity: 0;
}