<template>
	<div id="app_container">

		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-static-top" v-if="!is_public">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<router-link to="/dashboard" class="navbar-brand" v-if="auth">Pro</router-link>
					<router-link to="/login" class="navbar-brand" v-if="guest">Pro</router-link>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li v-if="auth"><router-link to="/dashboard">Home</router-link></li>
						<li v-if="auth"><router-link to="/user">Profile</router-link></li>
						<li v-if="guest"><router-link to="/login">LOGIN</router-link></li>
						<li v-if="guest"><router-link to="/register">REGISTER</router-link></li>
						<li v-if="auth"><a @click.stop="logout">LOGOUT</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
			<div class="flash flash-error" v-if="flash.error">
				<div class="alert alert-danger" role="alert">{{flash.error}}</div>
			</div>
			<div class="flash flash-success" v-if="flash.success">
				<div class="alert alert-success" role="alert">{{flash.success}}</div>
			</div>
		</div>

		<!--{{ $route.props }}-->
		<transition name="fade" mode="out-in">
			<router-view></router-view>
		</transition>

	</div>
</template>
<script type="text/javascript">
	import Auth from './store/auth';
	import Flash from './helpers/flash';
	import { post, interceptors } from './helpers/api';
	export default {
        mounted() {
            if(!Auth.state.api_token){
                Auth.remove();
                this.$router.push('/login');
			}
        },
		created() {
			// global error http handler
			interceptors((err) => {
			    console.log(err);
				if(err.response.status === 401) {
					Auth.remove();
					this.$router.push('/login')
				}

				if(err.response.status === 500) {
					Flash.setError(err.response.statusText);
				}

				if(err.response.status === 404) {
					this.$router.push('/not-found');
				}
			});
			Auth.initialize();

            let $props = this.$route.matched[0].props;
            let $propsEmpty = Object.keys($props).length === 0;

            if(!$propsEmpty){
                this.is_public = $props.default.public_link !== undefined;
			}

		},
		data() {
			return {
				authState: Auth.state,
				flash: Flash.state,
				is_public: false
			}
		},
		computed: {
			auth() {
				if(this.authState.api_token) {
					return true;
				}
				return false;
			},
			guest() {
				return !this.auth;
			}
		},
		methods: {
			logout() {
				post('/api/v1/logout')
				    .then((res) => {
				        if(res.data.done) {
				            // remove token
				            Auth.remove();
				            Flash.setSuccess('You have successfully logged out.');
				            this.$router.push('/login');
				        }
				    })
			}
		}
	}
</script>
