<template>
	<div id="items" class="container">

		<div class="row">
			<div class="col-md-12">
				<h1>{{ project.name }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div id="create_item" class="form-inline">

							<dropzone
									ref="myVueDropzone"
									:enctype="'multipart/form-data'"
									id="myVueDropzone"
									:url="dropzone_options.url"
									:paramName="dropzone_options.paramName"
									:acceptedFileTypes="dropzone_options.acceptedFileTypes"
									:maxFileSizeInMB="dropzone_options.maxFileSizeInMB"
									:maxNumberOfFiles="dropzone_options.maxNumberOfFiles"
									:autoProcessQueue="dropzone_options.autoProcessQueue"
									:uploadMultiple="dropzone_options.uploadMultiple"
									:useFontAwesome="dropzone_options.useFontAwesome"
									:header="dropzone_options.header"
									v-on:vdropzone-success-multiple="showSuccess"
									v-bind:preview-template="template">
								<!-- Optional parameters if any! -->
								<input type="hidden" name="_token" :value="drop_data.token">
								<input type="hidden" name="api_token" :value="drop_data.api_token">
								<input type="hidden" name="project_id" :value="drop_data.project_id">
							</dropzone>

						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="row" v-if="items.length">

			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Url</th>
						<th>Size</th>
						<th>Screen Type</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="item in items">
						<td><img :src="'/storage/' + item.image" alt="" width="150"></td>
						<td>
							<div class="name" v-if="!isSelectedItem(item)">{{ item.name }}</div>
							<div class="form-group" v-if="isSelectedItem(item)">
								<input type="text" class="form-control" v-model="item.name">
								<small class="error-control" v-if="error.name">{{error.name[0]}}</small>
							</div>
						</td>
						<td>
							<p>{{ item.url }}</p>
							<a target="_blank" :href="item.url" class="btn btn-default btn-sm bind_btn">Show</a>
							<a class="btn btn-default btn-sm bind_btn" @click="getSlug(item.id)">Gen Url</a>
						</td>
						<td>{{ item.size_read }}</td>
						<td>
							<div class="screen_type" v-if="!isSelectedItem(item)">
								{{ item.screen_type }}
							</div>
							<div class="form-group" v-if="isSelectedItem(item)">
								<select v-model="item.screen_type" class="form-control">
									<option value="mobile">Mobile</option>
									<option value="desktop">Desktop</option>
								</select>
								<small class="error-control" v-if="error.screen_type">{{error.screen_type[0]}}</small>
							</div>
						</td>
						<td>
							<a class="btn btn-warning btn-sm btn-block bind_btn" v-if="item.active" @click="changeStatus(item.id)">Disable</a>
							<a class="btn btn-default btn-sm btn-block bind_btn" v-else="item.active" @click="changeStatus(item.id)">Enable</a>
						</td>
						<td>
							<a class="btn btn-default btn-sm btn-block bind_btn" v-if="!isSelectedItem(item)" @click="setSelectedItem(item)">Edit</a>
							<a class="btn btn-success btn-sm btn-block bind_btn" v-if="isSelectedItem(item)" @click="update(item)">Update</a>
							<a class="btn btn-primary btn-sm btn-block bind_btn" :disabled="isProcessing" @click="compress(item.id)">Compress</a>
							<a class="btn btn-danger btn-sm btn-block bind_btn" @click="destroy(item.id)">Delete</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="row" v-else="items.length">
			<div class="col-md-12">
				<h1>No project items found... Create one!</h1>
			</div>
		</div>


	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash';
    import Auth from '../../store/auth';
    import { get, post } from '../../helpers/api';
    import Dropzone from 'vue2-dropzone'
    export default {
        components: {
            Dropzone
        },
        data() {
            return {
                project: {},
                items: {},
                form: {
                    name: ''
				},
                error: {},
                selectedItem: {},
                isProcessing: false,
				dropzone_options: {
                    url: '/api/v1/item',
                    paramName: 'image',
                    acceptedFileTypes: 'image/*',
                    maxFileSizeInMB: 5,
                    maxNumberOfFiles: 10,
                    autoProcessQueue: true,
                    uploadMultiple: true,
                    useFontAwesome: true,
                    header: {
                        token: $('meta[name="csrf-token"]').attr('content'),
                        api_token: Auth.state.api_token,
                    },
				},
				drop_data: {
                    token: $('meta[name="csrf-token"]').attr('content'),
                    api_token: Auth.state.api_token,
                    project_id: this.$route.params.id
				}
            }
        },
        mounted() {
            let vm = this;
            vm.getProjectItems();
        },
        methods: {
            showSuccess(file, response) {
                let vm = this;
                if(response.saved){
                    setTimeout(function () {
                        vm.$refs.myVueDropzone.removeAllFiles()
                    }, 1000);
                    vm.getProjectItems();
				}
            },
            template() {
                return `
                  <div class="dz-preview dz-file-preview">
                      <div class="dz-image" style="width: 200px;height: 200px">
                          <img data-dz-thumbnail /></div>
                      <div class="dz-details">
                        <div class="dz-size"><span data-dz-size></span></div>
                        <div class="dz-filename"><span data-dz-name></span></div>
                      </div>
                      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                      <div class="dz-error-message"><span data-dz-errormessage></span></div>
                      <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                      <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                  </div>
              `;
            },
            setSelectedItem (item) {
                this.selectedItem = item
            },
            isSelectedItem(item) {
                return this.selectedItem === item
            },
            update(item){
                let vm = this;
                post('/api/v1/item/' + item.id + '?_method=PUT', item)
                    .then((res) => {
                        if(res.data.saved) {
                            vm.getProjectItems();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            destroy(id){
                let vm = this;
                post('/api/v1/item/' + id + '?_method=DELETE')
                    .then((res) => {
                        if(res.data.deleted) {
                            vm.getProjectItems();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            changeStatus(id){
                let vm = this;
                post('/api/v1/item/' + id + '/active')
                    .then((res) => {
                        if(res.data.saved) {
                            vm.getProjectItems();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            getSlug(id){
                let vm = this;
                post('/api/v1/item/' + id + '/slugify')
                    .then((res) => {
                        if(res.data.saved) {
                            vm.getProjectItems();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            compress(id){
                let vm = this;
                this.isProcessing = true;
                post('/api/v1/item/' + id + '/compress')
                    .then((res) => {
                        if(res.data.compressed) {
                            console.log(res.data);
                            vm.getProjectItems();
                        }
                        this.isProcessing = false;
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                        this.isProcessing = false;
                    })
            },
            getProjectItems(){
                let vm = this;
                get(`/api/v1/project/${vm.$route.params.id}/items`)
                    .then((res) => {
                        if(res.data) {
                            vm.items = res.data.items;
                            vm.project = res.data.project;
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            console.log(err.response.data)
                        }
                    });
			}
		}
    }
</script>

