<template>
	<div id="project_show">

		<div v-if="project_items">
			<div v-for="item in project_items" v-if="item.active">
				<img :src="'/storage/' + item.image" alt="" class="img-responsive">
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash';
    import Auth from '../../store/auth';
    import { get, post } from '../../helpers/api';
    export default {
        data() {
            return {
                project_items: {},
            }
        },
        mounted() {
            let vm = this;
            vm.getProject();
        },
        methods: {
            getProject(){
                let vm = this;
                get(`/api/v1/p/${vm.$route.params.slug}`)
                    .then((res) => {
                        if(res.data) {
                            vm.project_items = res.data.project_items;
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            console.log(err.response.data)
                        }
                    });
			}
		}
    }
</script>
