<template>
	<div id="project_show">
		<img :src="'/storage/' + item.image" alt="" class="img-responsive">
	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash';
    import Auth from '../../store/auth';
    import { get, post } from '../../helpers/api';
    export default {
        data() {
            return {
                item: {},
            }
        },
        mounted() {
            let vm = this;
            vm.getItems();
        },
        methods: {
            getItems(){
                let vm = this;
                get(`/api/v1/pi/${vm.$route.params.slug}`)
                    .then((res) => {
                        if(res.data) {
                            vm.item = res.data.item;
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            console.log(err.response.data)
                        }
                    });
			}
		}
    }
</script>
