<template>
	<div id="projects" class="container">

		<div class="row">
			<div class="col-md-12">



				<p v-if="user.plan">
					<strong>Plan: </strong>{{ user.plan.display_name }} <br/>
					<strong>Space available: </strong>{{ user.plan.size_readable }} <br/>
					<strong>Space taken: </strong>{{ user.size }}
				</p>
				<p v-else="user.plan">no plan selected</p>

				<router-link to="plans">Change plan</router-link>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<h2>Create project</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="create_project" class="form-inline" @submit.prevent="saveProject">
							<div class="form-group">
								<label>Title</label>
								<input type="text" class="form-control" v-model="form.name">
								<small class="error-control" v-if="error.name">{{error.name[0]}}</small>
							</div>
							<div class="form-group">
								<button :disabled="isProcessing" class="btn btn-primary">Create Project</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<h2>My projects</h2>
				<hr>
			</div>
		</div>

		<div class="row" v-if="projects">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Image</th>
						<th>Name</th>
						<th>Url</th>
						<th>Items</th>
						<th>Size</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="project in projects">
						<td>
							<router-link :to="{ path: 'project/'+ project.id + '/items' }">
								<img :src="'/storage/' + project.avatar" alt="" width="150">
							</router-link>
						</td>
						<td>
							<h4 v-if="!isSelectedItem(project)"><strong>{{ project.name }}</strong></h4>
							<div class="form-group" v-if="isSelectedItem(project)">
								<input type="text" class="form-control" v-model="project.name">
								<small class="error-control" v-if="error.name">{{error.name[0]}}</small>
							</div>
						</td>
						<td>
							<p v-if="project.slug">{{ project.url }}</p>
							<a target="_blank" :href="project.url" class="btn btn-default btn-sm bind_btn" v-if="project.slug">Show</a>
							<a class="btn btn-default btn-sm bind_btn" @click="getSlug(project.id)">Gen Url</a>
						</td>
						<td>
							<router-link :to="{ path: 'project/'+ project.id + '/items' }" class="btn btn-primary btn-block">
								<strong>{{ project.items_number }}</strong> items
							</router-link>
						</td>
						<td>{{ project.size }}</td>
						<td>
							<a class="btn btn-warning btn-sm btn-block bind_btn" v-if="project.active" @click="changeStatus(project.id)">Disable</a>
							<a class="btn btn-default btn-sm btn-block bind_btn" v-else="project.active" @click="changeStatus(project.id)">Enable</a>
						</td>
						<td>
							<a class="btn btn-default btn-sm btn-block bind_btn" v-if="!isSelectedItem(project)" @click="setSelectedItem(project)">Edit</a>
							<a class="btn btn-success btn-sm btn-block bind_btn" v-if="isSelectedItem(project)" @click="update(project)">Update</a>
							<a class="btn btn-danger btn-sm btn-block bind_btn" @click="destroy(project.id)">Delete</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" v-else="projects">
			<h1>No projects created yet...</h1>
		</div>
	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash';
    import Auth from '../../store/auth';
    import { get, post } from '../../helpers/api';
    export default {
        data() {
            return {
                projects: {},
                user: {},
                form: {
                    name: ''
				},
                error: {},
                selectedItem: {},
                isProcessing: false
            }
        },
        mounted() {
            let vm = this;
            vm.getUserProjects();
        },
        methods: {
            setSelectedItem (item) {
                this.selectedItem = item
            },
            isSelectedItem(item) {
                return this.selectedItem === item
            },
            saveProject(){
                let vm = this;
                vm.error = {};
                post('/api/v1/project', vm.form)
                    .then((res) => {
                        if(res.data.saved) {
                            vm.getUserProjects();
                            vm.form = {};
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
			},
            edit(id){
                let vm = this;
                console.log(id)
            },
            update(project){
                let vm = this;
                post('/api/v1/project/' + project.id + '?_method=PUT', project)
                    .then((res) => {
                        if(res.data.saved) {
                            vm.getUserProjects();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            destroy(id){
                let vm = this;
                post('/api/v1/project/' + id + '?_method=DELETE')
                    .then((res) => {
                        if(res.data.deleted) {
                            vm.getUserProjects();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            changeStatus(id){
                let vm = this;
                post('/api/v1/project/' + id + '/active')
                    .then((res) => {
                        if(res.data.saved) {
                            vm.getUserProjects();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            getSlug(id){
                let vm = this;
                post('/api/v1/project/' + id + '/slugify')
                    .then((res) => {
                        console.log(res.data);
                        if(res.data.saved) {
                            vm.getUserProjects();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
            },
            getUserProjects(){
                let vm = this;
                this.isProcessing = true;
                get('/api/v1/project')
                    .then((res) => {
                        if(res.data) {
                            if(!res.data.user.plan_id){
                                this.$router.push('/plans');
							}

                            vm.projects = res.data.projects;
                            vm.user = res.data.user;
                        }
                        this.isProcessing = false;
                    })
                    .catch((err) => {
                        console.log(err);
                        if(err.response.status === 422) {
                            console.log(err.response.data)
                        }
                        this.isProcessing = false;
                    });
			}
		}
    }
</script>
