<template>
	<div id="plans" class="container">

		<div class="row" v-if="plans">
			<div class="col-md-12">
				<p v-if="user.plan">User plan: {{ user.plan.display_name }}</p>
				<p v-else="user.plan">User plan: No plan selected</p>
			</div>

			<div class="col-md-3" v-for="plan in plans">
				<div class="plan_item" v-bind:style="user.plan_id === plan.id ? {background: '#ddd', border: '1px solid #333'}: {background: '#eee'}">
					<p>{{ plan.id }}</p>
					<p>{{ plan.display_name }}</p>
					<p>{{ plan.price }} EU</p>
					<p>{{ plan.size_readable }}</p>
					<a class="btn btn-primary" @click="selectPlan(plan.id)">Select plan</a>
				</div>
			</div>
		</div>
		<div class="row" v-else="plans">
			<div class="col-md-12">
				<p>No plans found</p>
			</div>
		</div>

	</div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash';
    import Auth from '../../store/auth';
    import { get, post } from '../../helpers/api';
    export default {
        data() {
            return {
                plans: {},
                user: {},
				form: {}
            }
        },
        mounted() {
            let vm = this;
            vm.getPlans();
            // console.log(vm.plans);
        },
        methods: {
            selectPlan(id){
                let vm = this;
                console.log(id);
                post('/api/v1/user/' + id + '/changePlan')
                    .then((res) => {
                        console.log(res.data);
                        if(res.data.saved) {
                            vm.getPlans();
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data
                        }
                    })
			},
            getPlans(){
                let vm = this;
                get('/api/v1/plan')
                    .then((res) => {
                        if(res.data) {
                            vm.plans = res.data.plans;
                            vm.user = res.data.user;
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            console.log(err.response.data)
                        }
                    });
			}
		}
    }
</script>
