<template>
    <div id="user_page" class="container">
        {{ user }}
    </div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash';
    import Auth from '../../store/auth';
    import { get, post } from '../../helpers/api';
    export default {
        data() {
            return {
                user: {},
                form: {}
            }
        },
        mounted() {
            let vm = this;
            vm.getUserData();
        },
        methods: {
            getUserData(){
                let vm = this;
                get('/api/v1/user')
                    .then((res) => {
                        if(res.data) {
                            vm.user = res.data.user;
                        }
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            console.log(err.response.data)
                        }
                    });
            }
        }
    }
</script>