<template>
    <div class="container">
        <form class="form" @submit.prevent="register">
            <h1 class="form-title">Create an Account</h1>
            <div class="form-title">
                <label>Name</label>
                <input type="text" class="form-control" v-model="form.name">
                <small class="error-control" v-if="error.name">{{error.name[0]}}</small>
            </div>
            <div class="form-title">
                <label>Email</label>
                <input type="text" class="form-control" v-model="form.email">
                <small class="error-control" v-if="error.email">{{error.email[0]}}</small>
            </div>
            <div class="form-title">
                <label>Password</label>
                <input type="password" class="form-control" v-model="form.password">
                <small class="error-control" v-if="error.password">{{error.password[0]}}</small>
            </div>
            <div class="form-title">
                <label>Confirm Password</label>
                <input type="password" class="form-control" v-model="form.password_confirmation">
            </div>
            <div class="form-title">
                <button :disabled="isProcessing" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</template>
<script type="text/javascript">
    import Flash from '../../helpers/flash'
    import { post } from '../../helpers/api'
    export default {
        data() {
            return {
                form: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: ''
                },
                error: {},
                isProcessing: false
            }
        },
        methods: {
            register() {
                this.isProcessing = true;
                this.error = {};
                post('api/v1/register', this.form)
                    .then((res) => {
                        if(res.data.registered) {
                            Flash.setSuccess('Congratulations! You have now successfully registered.');
                            this.$router.push('/login');
                        }
                        this.isProcessing = false;
                    })
                    .catch((err) => {
                        if(err.response.status === 422) {
                            this.error = err.response.data;
                        }
                        this.isProcessing = false;
                    })
            }
        }
    }
</script>
